In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [3]:
DF_obj= DataFrame({'column 1':[1,1,2,2,3,3,3],
                   'column 2':['a', 'a','b', 'b', 'c', 'c', 'c'],
                   'column 3':['A', 'A', 'B', 'B', 'C', 'C', 'C']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [4]:
DF_obj_no_duplicates = DF_obj.drop_duplicates()

In [5]:
DF_obj_no_duplicates

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C